
// * =========== Colors for the text

$menu-color: #3ab3a6;
$items-color: #bdbdbd;
$title-color: #3f3f3e;


// * ============ Sizes

$minWidth: 360px;
$maxWidth: 1920px;


// * ============ Font

$font-family: 'Roboto';
$font-weight: 100;
$fz: 10px;