@import './base/mixins';
@import './base/variables';
@import './libs/normalize';



* {
    font-family: $font-family, sans-serif;
    font-weight: $font-weight;
}

html, body {
    font-size: $fz;
    overflow-x: hidden;
  }

@import './libs/fonts';
@import './blocks/grid-app';
@import './blocks/inscription';
@import './blocks/author-cite';
@import './blocks/title';
@import './blocks/price';
@import './blocks/cube';
@import './blocks/header';
@import './blocks/tea';
@import './blocks/room';
@import './blocks/shakers';
@import './blocks/authentics';
@import './blocks/footer';
@import './blocks/button';
@import './blocks/menu';
// @import './libs/swiper';
