.authentics {
    &__collection {
        background-color: #f8c255;
        @include flexCenter;
        flex-direction: column;
    }
    &__author {
        @include flexCenter;
        flex-direction: column;
    }
    &__item {
        padding: 60px 0 0 50px;
        background: url('../img/authentics/bg.png') center center/cover no-repeat;
    }
    &__inscription {
        color: #785e28;
        &-subtitle {
            color: #ae883b;
        }
    }
}