.cube {
    display: grid;
    grid-template-columns: repeat(2, 24px);
    grid-template-rows: repeat(2, 24px);
    &-angle {
        &--yellow {
            background-color: #f8c255;
        }
        &--green {
            background-color: #bfe79e;
        }
        &--red {
            background-color: #ff9b6d;
        }
        &--blue {
            background-color: #7dd5c9;
        }
        &--avatar {
            background-image: url('../img/footer/avatar.png');
            background-repeat: no-repeat;
            background-size: cover;
            grid-area: 1/3/3/5;
        }
    }
}