.header {
  &__item-wrapper {
    grid-area: 1/span 2;
    padding: 150px 150px 215px 50px;
    display: flex;
    justify-content: space-between;
    background: url(../img/header/img1.png) 30% 100% no-repeat ;
    background-color: #e9eae2;
    position: relative;
    &:before {
      content: '';
      background: url('../img/header/shape1.svg') no-repeat;
      position: absolute;
      top: 0;
      left: 215px;
      width: 345px;
      height: 285px;
      opacity: 0.8;
    }
  }

  &__author {
    background-color: #e9eae2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__subtitle {
    margin-top: 70px;

    width: 225px;
    line-height: 37px;
  }
  &__title {
    @include flexCenter;
    width: 325px;
    font-size: 5.6rem;
    text-align: center;
  }

  &__bar {
    @include flexCenter;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -50px;
    &-icon {
      padding: 10px;
      cursor: pointer;
      position: relative;
    }
  }
  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include flexCenter;
    flex-direction: column;
  }
  &__aside {
    position: relative;
    background: url("../img/header/aside.png") center center/cover no-repeat;
  }
  &__cube {
    position: absolute;
    top: 15px;
    left: 20px;
}

  }
